html, body{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #044c54;
    padding: 20px;
    color: white;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    background-color: #044c54;
    margin: 0;
    padding: 10px;
    color: white;
}